<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tv_show.name %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @tv_show.rate %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @tv_show.comment %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @tv_show.duration %>
</p>

<p>
  <strong>Picture:</strong>
 <%= image_tag(@tv_show.picture_url, :width => 600) if @tv_show.picture.present? %>
</p>

<%= link_to 'Edit', edit_tv_show_path(@tv_show) %> |
<%= link_to 'Back', tv_shows_path %>
